*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/*common*/
#main{

}
.mt-8{
  margin-top: 8px !important;
}
.mt-16{
  margin-top: 16px !important;
  
}
.clear {
  content: "";
  display: block;
  clear: both;
}
.text-white{
  color: white !important;
}
.row{
  margin-left: -8px;
  margin-right: -8px;
}
.col{
  float: left;
  padding: 0 8px;

}

.col-full{
  width: 100%;
}
.col-half{
  width: 50%;
}

/* /* */
#header{
    height: 46px;  
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
#nav{
  display: inline-block;
}

#nav, .subnav{
  list-style-type: none;
}


#nav > li{
  display: inline-block;
  
}

#nav li{
  
  position: relative;
}
#nav > li > a{
  text-transform: uppercase;
  color : #fff;

}
#nav li a{
  display: block;
  
  text-decoration: none;
  line-height: 46px;
  padding : 0 24px;
  
}

#nav li:hover .subnav{
   display: block;
}


#nav >li:hover> a,
#nav .subnav li:hover {
    color : black;
    background-color: #ccc;
}

#nav .subnav{
  display :none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
  padding:0 12px;
  color: black;
  line-height: 38px;
  
}
#nav .nav-arrow-down{
  font-size: 12px;
}
#header .search-btn:hover{
  background-color: #f44336;
  cursor: pointer;
}
#header .search-btn {
  float:right;
  padding: 0 21px;
}
#header .search-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;

}



#slider{
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("chicago.jpg") top center / cover no-repeat;
  
  

}
#slider .text-content{
  position: absolute;
  color: #fff;
  bottom :47px;
  width:100%;
  text-align: center;
  
}
#slider .text-heading{
  font-weight: 500;
  font-size: 24px;

}

#slider .text-description{
  font-size:15px;
  margin-top: 25px;
  


  

}






#content{

  

}

#content .content-section{
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
  
  
}
#content .section-heading{
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  
  text-align: center;
  font-weight: 500px;
  
}



#content .section-sub-heading{
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.5;
}
#content .about-text{
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  
  line-height:1.4;


}
#content .members-list {
  margin-top: 48px;
  overflow: hidden;
  
}
#content .member-item {
  float: left;
  width: 33.33333%;
  text-align: center;
}
#content .member-name {
  font-size: 15px;
  
}
#content .member-img{
  width: 154px;
  margin-top: 15px;
  border-radius: 4px ;
  
}
.tour-section{
  background-color: black;
  
}
.tickets-list{
  margin-top: 40px;
  list-style: none;
  background-color: #fff;
  
}
.tickets-list li {
  color:#757575;
  font-size: 15px;
  padding:11px 16px;
  border-bottom: 1px solid #ddd;
  
  
}
.tickets-list .Sold-out{
  background-color:#f44336;
  color:#fff;
  padding:3px 4px;
  margin-left: 16px;

}
.tickets-list .quantity{
  float:right;
  width:24px;
  height:24px;
  background-color:black;
  color:#fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -2px;

}


.places-list{
  margin-top: 32px;
  overflow: hidden;
 
  


}
.place-item{
  
  width: 33.33333%;

}
.imgWrap{
  width: 100%;
  overflow: hidden;
}
.places-img{
  width: 100%;

}
.places-img:hover{
  opacity: 0.6;
  transform: scale(130%);
  transition: all ease-in-out 0.5s;
  
  
}
.place-body{
  color: #333;
  background-color: #fff;
  padding: 20px;

}
.place-heading{
  font-size: 15px;
  line-height: 1.5;


}
.place-time{
  margin: 20px 0;
  font-size: 15px;
  line-height: 1.5;

}
.place-desc{
  margin: 20px 0;
  font-size: 15px;
  line-height: 1.5;

}
.place-buy-bnt{
  color: #fff;
  background:black;
  padding: 8px 16px;
  text-decoration: none;

}
.place-buy-bnt:hover{
  background-color :#ddd;
  color:#333;
  cursor: pointer;
}









.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-container{
  width: 900px;
  max-width: calc(100% -32px);
  background-color: #fff;
  min-height: 300px;
  position: relative;

}

.modal-header{
  background-color: #009688;
  height: 130px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 30px;
  
}
.modal-header i{
  margin-right: 16px;
}

.modal-close{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  color:#fff;
  cursor: pointer;
  
}

.modal-close:hover{
  background-color: #ccc;
  color:#333
}
.modal-body{
  padding: 16px;
}
.modal-label{
  font-size: 15px;
  display: block;
  margin-top: 17px;
}
.modal-input{
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 10px;
  margin-top: 17px;
}
#buy-tickets{
  border: none;
  width: 100%;
  background-color: #009688;
  color:#fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;

}
#buy-tickets:hover{
  background-color: #ccc;
  color: #333;
  cursor: cell;
}
.modal-footer{
  padding: 16px;
  text-align: right;
}

.modal-footer a{
  color: #2196fa;
}
.contact-content{
  margin-top: 48px;
  
}
.contact-info { 
  font-size: 18px;
  line-height: 1.5;
}
.contact-info i[class*="ti-"] {
  width: 30px;
  
}
.contact-form {
  font-size: 15px;
  
  
}
.col .col-half {
  overflow: hidden;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.form-submit-btn{
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  padding: 10px 16px;
  float:right;
}
.form-submit-btn:hover {
  background-color: #ccc;
  color : #333;
  cursor: pointer;

}

.map-secion img {
  width: 100%;
}



#footer{
  padding: 64px 12px;
  text-align: center;

}

.socials-list {
  font-size: 23px;

}
.socials-list a{
  color: rgba(0,0,0,0.6);
  text-decoration : none;
}
.socials-list a:hover,
.coppy-right a:hover{
  color: rgba(0,0,0,0.4);

}
.coppy-right a{
  color: rgba(0,0,0,0.6);

}
.coppy-right{
  margin-top: 15px;
}
